body {
    background-image: url(fond.jpg);
    
   
    font-size: 25px;
    
    
}

.photo {
    
    
        
}

.infophoto{
    
    display: flex;
    justify-content: space-between;
    
        
}

.etude {
    text-align: center;
}

table {
    width:1000px;

}
.experience{
    text-align: center;
}

hr{
    
    color: blue;
}